.headerr {
  text-align: center;
  color: #fff;
  size : 20px;
  margin-top: 60px;
}




.headerr p {
  font-size: 50px;
  color : #e72d2d;

}


.headerr h1 {
  font-size: 20px;
  color : black;

}


table {
border: medium solid #6495ed;
border-collapse: collapse;
width: 30%;

}




th {
font-family: monospace;
border: thin solid #6495ed;
width: 30px;
padding: 15px;
background-color: #D0E3FA;
background-image: url(sky.jpg);
}


td {
font-family: sans-serif;
border: thin solid #6495ed;
width: 30px;
padding: 5px;
text-align: center;
background-color: #ffffff;
}




