
html {
 background: url("./ensias.jpg") no-repeat center center fixed;
  background-size: cover;
}


.muck-uprr {
  width: 1100px;
  height: 2000px;
  margin: 1em auto;
  overflow: hidden;
  position: relative;
  border: 1px solid #fefefe;
  background-color #FAEBD7

}


.overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
 
}

.content {
  height:230%; 
  position: relative;
  z-index: 1;
}








.login {
  padding: 10% 10%;
  margin-top: -550px;
  margin-left: 10px;
  color: #fff;
}



.btn {
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  font-size: 54px;
  font-weight: 500px;
  padding: 12px 70px;
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  line-height: 1.42857143;
  border: 2px solid transparent;
}




hr.new3 {
  border-top: 1px dotted red;
  color: #e72d2d;
}


.header {
  text-align: center;
  color: #fff;
  size : 20px;
  margin-top: 80px;
 
}




.header p {
  font-size: 20px;
  color : #fff;

}


.header h1 {
  font-size: 20px;
  color : #fff;

}



.form-signin {
  width: 430px;
  height: 375px;
  font-size: 16px;
  font-weight: 300;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 55px;
  transition: opacity .5s ease, transform .5s ease;
}




.headerr {
  text-align: center;
  color: #fff;
  size : 20px;
  margin-top: 60px;
}




.headerr p {
  font-size: 50px;
  color : #e72d2d;

}


.headerr h1 {
  font-size: 20px;
  color : #fff;

}

.headerr h2 {
  font-size: 20px;
  color : #fff;

}


#sign-in-form {
  display: block;
}

#sign-up-form {
  display: none;
}



* {
  transition: 0.1s ease;
}



a {
  text-decoration: none;
}

.container-shadow {
  position: absolute;
  width: 525px;
  height: 675px;
  left: 50%;
  margin-left: -262.5px;
  margin-top: 60px;
  box-shadow: 0px 30px 50px -20px #000;
}

.container {
  position: absolute;
  width: 525px;
  height: 675px;
  left: 50%;
  margin-left: -262.5px;
  margin-top: 60px;
  background: linear-gradient(90deg, #29323c 0%, #3b4249 100%);
  box-shadow: 0px 0px 50px -20px #000;
}




label {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  padding: 13px 20px;
  position: relative;
  display: block;
  font-size: 14px;
}






#sign-up-form input[type="submit"] {
  margin-top: 50px;
}



#sign-in-form {
  display: block;
}

#sign-up-form {
  display: none;
}

@media (max-width: 524px) {
  .container-shadow {
    width: 400px;
    margin-top: 60px;
    left: 50%;
    margin-left: -200px;
  }

  .container {
    width: 400px;
    margin-top: 60px;
    left: 50%;
    margin-left: -200px;
  }

  .wrap {
    width: 300px;
  }

  footer .hr {
    margin-top: 50px;
  }
}

@media (max-width: 399px) {
  .container-shadow {
    width: 100%;
    margin: 0px;
    left: inherit;
  }

  .container {
    width: 100%;
    margin: 0px;
    left: inherit;
  }

  .wrap {
    width: 80%;
  }
}

@media (max-width: 330px) {
  .wrap {
    width: 90%;
  }
}








main {
  width: 100vw; 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 55px;
}

p {
  line-height: 1.5
}

nav {
  margin-top: -240px;
  margin-left: -130px;
}








.navbar-global {
  background-color: indigo;
}

.navbar-global .navbar-brand {
  color: white;
}

.navbar-global .navbar-user > li > a
{
  color: white;
}

.navbar-primary {
  background-color: #333;
  bottom: 0px;
  left: 0px;
  position: absolute;
  top: 51px;
  width: 200px;
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.navbar-primary.collapsed {
  width: 60px;
}

.navbar-primary.collapsed .glyphicon {
  font-size: 22px;
}

.navbar-primary.collapsed .nav-label {
  display: none;
}

.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom:0;
    width: 100%;
    padding: 8px 0;
    border-top:solid 1px #666;
    color: grey;
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
    background-color: #222;
    color: white;
}

.btn-expand-collapse:active {
    background-color: #111;
}

.navbar-primary-menu,
.navbar-primary-menu li {
  margin:0; padding:0;
  list-style: none;
}

.navbar-primary-menu li a {
  display: block;
  padding: 10px 18px;
  text-align: left;
  border-bottom:solid 1px #444;
  color: #ccc;
}

.navbar-primary-menu li a:hover {
  background-color: #000;
  text-decoration: none;
  color: white;
}

.navbar-primary-menu li a .glyphicon {
  margin-right: 6px;
}

.navbar-primary-menu li a:hover .glyphicon {
  color: orchid;
}

.main-content {
  margin-top: 60px;
  margin-left: 200px;
  padding: 20px;
}

.collapsed + .main-content {
  margin-left: 60px;
}



.content {
  height:230%; 
  position: relative;
  z-index: 1;
}








.btn {
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
  padding: 16px 40px;
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  line-height: 1.42857143;
  border: 1px solid transparent;
}

.sign-in {
  color: #fff;
  font-size: 25px;
  background: #586A74;
  margin-bottom: 50px;
  border-color: #4B5961;
}


.header {
  text-align: center;
  color: #000;
  size : 20px;
  margin-top: 80px;
 
}




.header p {
  font-size: 20px;
  color : #000;

}


.header h1 {
  font-size: 20px;
  color : #000;

}



.form-signin {
  width: 430px;
  height: 375px;
  font-size: 16px;
  font-weight: 300;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 55px;
  transition: opacity .5s ease, transform .5s ease;
}




body { font-family: sans-serif; }

#main-menu .nav-bar { list-style:none; margin-top: 40px; }
#main-menu .nav-bar li { display:inline; padding:0 80px; }

#main-menu .nav-bar li a {
  text-decoration: none;
  padding-left: 05px;
  
  color: #333;
  text-shadow: 1px 1px 1px #ccc;
}





.headerr {
  text-align: center;
  color: #fff;
  size : 20px;
  margin-top: 60px;
}

.headerrr {
  text-align: center;
  color: #fff;
  size : 20px;
  margin-top: -40px;
}


.headerr p {
  font-size: 50px;
  color : #e72d2d;

}


.headerr h1 {
  font-size: 20px;
  color : #fff;

}






main {
  width: 100vw; 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 55px;
}

p {
  line-height: 1.5
}

nav {
  margin-top: -240px;
  margin-left: -130px;
}






.button {
  padding: 15px 20px;
  border: 2px solid gray;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 700; 
  
  text-decoration: none;
  color: white;
  
  &:hover,
  &.is-active {
    color: white;
    background-color: white;
  }
}

.navbar-global {
  background-color: indigo;
}

.navbar-global .navbar-brand {
  color: white;
}

.navbar-global .navbar-user > li > a
{
  color: white;
}

.navbar-primary {
  background-color: #333;
  bottom: 0px;
  left: 0px;
  position: absolute;
  top: 51px;
  width: 200px;
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.navbar-primary.collapsed {
  width: 60px;
}

.navbar-primary.collapsed .glyphicon {
  font-size: 22px;
}

.navbar-primary.collapsed .nav-label {
  display: none;
}

.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom:0;
    width: 100%;
    padding: 8px 0;
    border-top:solid 1px #666;
    color: grey;
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
    background-color: #222;
    color: white;
}

.btn-expand-collapse:active {
    background-color: #111;
}

.navbar-primary-menu,
.navbar-primary-menu li {
  margin:0; padding:0;
  list-style: none;
}

.navbar-primary-menu li a {
  display: block;
  padding: 10px 18px;
  text-align: left;
  border-bottom:solid 1px #444;
  color: #ccc;
}

.navbar-primary-menu li a:hover {
  background-color: #000;
  text-decoration: none;
  color: white;
}

.navbar-primary-menu li a .glyphicon {
  margin-right: 6px;
}

.navbar-primary-menu li a:hover .glyphicon {
  color: orchid;
}

.main-content {
  margin-top: 60px;
  margin-left: 200px;
  padding: 20px;
}

.collapsed + .main-content {
  margin-left: 60px;
}





* {
  transition: 0.1s ease;
}



a {
  text-decoration: none;
}

.container-shadow {
  position: absolute;
  width: 525px;
  height: 675px;
  left: 50%;
  margin-left: -262.5px;
  margin-top: 60px;
  box-shadow: 0px 30px 50px -20px #000;
}

.container {
  position: absolute;
  width: 525px;
  height: 675px;
  left: 50%;
  margin-left: -262.5px;
  margin-top: 60px;
  background: linear-gradient(90deg, #29323c 0%, #3b4249 100%);
  box-shadow: 0px 0px 50px -20px #000;
}

.wrap {
  position: relative;
  width: 200px;
  margin: 0 auto;
}



label {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  padding: 13px 20px;
  position: relative;
  display: block;
  font-size: 14px;
}

input {
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: transparent;
  padding: 10px 20px;
  border: none;
  border-bottom: 2px solid #1d2124;
  outline: none;
  box-sizing: border-box;

  margin-bottom: 10px;
}

input:active,
input:focus {
  border-bottom: 0.12em solid #aaf0d1;
  border-color: #aaf0d1;
  box-shadow: 0 5px 5px -5px #aaf0d1;
}

#password {
  padding-right: 50px;
}

#password + i {
  color: rgba(255, 255, 255, 0.7);
  font-size: 25px;
  float: right;
  position: relative;
  top: -43px;
  right: 15px;
  cursor: pointer;
}

#password + i:hover {
  color: rgba(255, 255, 255, 1);
}

input[type="checkbox"] {
  width: inherit;
  padding: 0;
  margin: 20px 5px 30px 20px;
}

input[type="checkbox"] + span {
  color: #fff;
}

#rlabel {
  display: inline-block;
  padding: 0;
  top: 1px;
}

#remember:hover,
#rlabel:hover {
  cursor: pointer;
}