

html {
 background: url("./ensias.jpg") no-repeat center center fixed;
  background-size: cover;
}


.muck-up {
  width: 850px;
  height: 480px;
  margin: 5em auto;
  overflow: hidden;
  position: relative;
  border: 1px solid #fefefe;
  background-color #FAEBD7

}
.overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
 
}

.content {
  height:230%; 
  position: relative;
  z-index: 1;
}








.login {
  padding: 0 10%;
  margin-top: 10px;
  margin-left: 280px;
}

.btn {
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
  padding: 16px 20px;
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  line-height: 1.42857143;
  border: 1px solid transparent;
}

.sign-in {
  color: #fff;
  font-size: 15px;
  background: #586A74;
  margin-bottom: 70px;
  border-color: #4B5961;
}


.header {
  text-align: center;
  color: #fff;
  size : 20px;
  margin-top: 80px;
 
}




.header p {
  font-size: 20px;
  color : #ffffff;

}


.header h1 {
  font-size: 20px;
  color : #fff;

}



.form-signin {
  width: 430px;
  height: 375px;
  font-size: 16px;
  font-weight: 300;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 55px;
  transition: opacity .5s ease, transform .5s ease;
}