
<head>
  <title>PFA</title>
  <meta charset="utf-8" />
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'personal/css/fiches.css' %}" type = "text/css"/>
  
</head>
<body>

{% block content %}


<div class="headerr">

      <p>Concours nationale commun </p>
      <h1> -Ecole nationale supérieure de l'informatique et d'analyse des systèmes- </h1> 
      
      <a href="/homee" class="button" >Vérifier les donnée </a>
      <a href="/homeerecu" class="button" >Vérifier le reçu de paiment </a>
      <a href="/homeecarte" class="button" >Vérifier la carte nationale</a>
<!-- 
<main>
  <div class="wrapper">
    <nav>
      <a href="#" class="button" >Enregistrer </a>
      <a href="#" class="button" >Listes de condidature</a>
      <a href="#" class="button" >Notice CNC-2020</a>
      <a href="#" class="button" >Guide d'inscription</a>
      <a href="#" class="button" >Résultats</a>
      <a href="#" class="button" >Nouveautés</a>
      <a href="/logout" class="button" >Se déconnecter</a>
    </nav>
  </div>
</main>  -->


 <table class="table mb-0">
    <thead>
      <tr>
        
      <th>nom</th>
        <th>prenom</th>
        <th>CIN</th>
        <th>CNE</th>
        <th>Téléphone</th>
        <th>Lieu_de_naissance</th>
        <th>Date_de_naissance</th>
        <th>Adresse_physique</th>
        <th>Sexe</th>
        <th>Nationalité</th>
         
      </tr>
    </thead>
    <tbody>
      {% for fiche in fiches %}
        <tr>
          
          <td>{{ fiche.nom }}</td>
          <td>{{ fiche.prenom }}</td>
          <td>{{ fiche.CIN }}</td>
          <td>{{ fiche.CNE }}</td>
          <td>{{ fiche.Téléphone }}</td>
          <td>{{ fiche.Lieu_de_naissance }}</td>
          <td>{{ fiche.Date_de_naissance }}</td>
          <td>{{ fiche.Adresse_physique }}</td>
          <td>{{ fiche.Sexe }}</td>
          <td>{{ fiche.Nationalité }}</td>
         <!-- <td>
          	 <a href="{{ fiche.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">
              Download PDF
            </a>  
          </td> -->
          
        
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="/export" class="button" >Enregistrer </a>
</div>

   
  

 
{% endblock %}





