<!DOCTYPE html>
<html lang="en">

<head>
	<title>PFA</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/home.css' %}" type = "text/css"/>
	
</head>





<body>

  


<div class="muck-up">
  <div class="overlay"></div>
  <div class="content">
    
    
    <div class="header">

       <p>Concours nationale commun </p>
      <h1> -Ecole nationale supérieure de l'informatique et d'analyse des systèmes- </h1>
     
    </div>
    <div class="login">
      <a class="btn sign-in" href="/login">Espace Etudiant</a>
      <a class="btn sign-in" href="/fiches">Espace Administrateur</a>
     

    </div>
  </div>
</div>



    

</body>


</html>