<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>nom</th>
      <th>prenom</th>
      <th>CIN</th>
      <th>CNE</th>
      <th>Téléphone</th>
      <th>Lieu_de_naissance</th>
      <th>Date_de_naissance</th>
      <th>Adresse_physique</th>
      <th>Sexe</th>
      <th>Nationalité</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nouhayla</td>
      <td>erryhany</td>
      <td>CD12345</td>
      <td>N13434323</td>
      <td>612676764</td>
      <td>fes</td>
      <td>35871</td>
      <td>19 rue valladilid nn</td>
      <td>F</td>
      <td>Marocaine</td>
    </tr>
    <tr>
      <td>habhoub</td>
      <td>Alae</td>
      <td>CD12345</td>
      <td>N1324543</td>
      <td>676543214</td>
      <td>Agadir</td>
      <td>36266</td>
      <td>20 Rue arrafie Résidence Qods hay Narwan Agadir</td>
      <td>F</td>
      <td>Marocaine</td>
    </tr>
    <tr>
      <td>Alaoui</td>
      <td>Youssef</td>
      <td>CS34544</td>
      <td>N1234567</td>
      <td>661323324</td>
      <td>Rabat</td>
      <td>36266</td>
      <td>19 Rue Vallancia hay les merinedes Sidi Maarouf Casablanca</td>
      <td>M</td>
      <td>marocian</td>
    </tr>
    <tr>
      <td>Bassoum</td>
      <td>Riham</td>
      <td>CD123454</td>
      <td>N1343432333</td>
      <td>612676768</td>
      <td>fes</td>
      <td>36266</td>
      <td>87 Rue Billad Résidence Zarwal hay Baris Agadir</td>
      <td>F</td>
      <td>Marocaine</td>
    </tr>
    <tr>
      <td>ggg</td>
      <td>fff</td>
      <td>CD12345</td>
      <td>N1324543</td>
      <td>612676764</td>
      <td>fes</td>
      <td>36266</td>
      <td>19 rue valladilid nn</td>
      <td>F</td>
      <td>Marocaine</td>
    </tr>
    <tr>
      <td>ER RYHANY</td>
      <td>NOUHAYLA</td>
      <td>CD12345</td>
      <td>N13434323</td>
      <td>612676764</td>
      <td>bbb</td>
      <td>36266</td>
      <td>19 rue valladilid cc</td>
      <td>F</td>
      <td>ccc --&gt; bbbbb</td>
    </tr>
    <tr>
      <td>Kamal</td>
      <td>hhhhhhh</td>
      <td>66666666666666</td>
      <td>555555555</td>
      <td>55555555</td>
      <td>Rabat</td>
      <td>43974</td>
      <td>19 rue valladilid</td>
      <td>vvv</td>
      <td>FFFF</td>
    </tr>
  </tbody>
</table>