<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>prenom</th>
      <th>nom</th>
      <th>CIN</th>
      <th>Lieu_de_naissance</th>
      <th>Adresse_physique</th>
      <th>Sexe</th>
      <th>Nationalité</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nouhayla</td>
      <td>erryhany --&gt; erryhani</td>
      <td>CD12345 --&gt; CD123454</td>
      <td>fes</td>
      <td>19 rue valladilid nn</td>
      <td>F</td>
      <td>marocian</td>
    </tr>
    <tr>
      <td>Souad</td>
      <td>Dib</td>
      <td>CD663615</td>
      <td>Fes</td>
      <td>19 Rue Addarissa hay Agdal Rabat</td>
      <td>F</td>
      <td>Marocaine</td>
    </tr>
    <tr>
      <td>Asmae</td>
      <td>ERRYHANY --&gt; ERYHANY</td>
      <td>CD370276</td>
      <td>Fes</td>
      <td>19 Rue Addarissa hay Agdal Rabat</td>
      <td>F</td>
      <td>Marocaine</td>
    </tr>
    <tr>
      <td>Hassan</td>
      <td>Bouhiba</td>
      <td>CB248877 --&gt; CB248878</td>
      <td>khouribga</td>
      <td>Bloc E Résidence Amman hay Narjis fes</td>
      <td>M</td>
      <td>Marocain</td>
    </tr>
    <tr>
      <td>Salma</td>
      <td>Aani</td>
      <td>CD663212</td>
      <td>fes</td>
      <td>Bloc C Rue Addarissa hay Agdal fes --&gt; Bloc C Rue Addarissa hay Agdal Agadir</td>
      <td>F</td>
      <td>Marocaine</td>
    </tr>
    <tr>
      <td>Mounir</td>
      <td>Rhn</td>
      <td>CD776655</td>
      <td>Oulad Ayyad</td>
      <td>20 Rue arrafie Résidence Qods hay Narwan Agadir</td>
      <td>M</td>
      <td>marocian</td>
    </tr>
  </tbody>
</table>