<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>nom</th>
      <th>prenom</th>
      <th>CIN</th>
      <th>Lieu_de_naissance</th>
      <th>Date_de_naissance</th>
      <th>Adresse_physique</th>
      <th>Sexe</th>
      <th>Nationalité</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nouhayla</td>
      <td>erryhany</td>
      <td>CD12345</td>
      <td>fes</td>
      <td>36266</td>
      <td>19 rue valladilid nn</td>
      <td>F</td>
      <td>marocian</td>
    </tr>
  </tbody>
</table>