<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Nom</th>
      <th>Téléphone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Hassan Bouhriba</td>
      <td>676543214</td>
      <td>hassan.bouhriba@gmail.com</td>
    </tr>
    <tr>
      <td>Khadija ENNAHAL</td>
      <td>676543245 --&gt; 687665436</td>
      <td>khadija.ennahal@gmail.com</td>
    </tr>
    <tr>
      <td>Salma Aani</td>
      <td>696565430</td>
      <td>salma.aani@gmail.com</td>
    </tr>
    <tr>
      <td>Riham Bassoum</td>
      <td>787654321</td>
      <td>riham.bassoum@gmail.com</td>
    </tr>
    <tr>
      <td>Youssef Alaoui</td>
      <td>676543245</td>
      <td>youssef.alaoui@gmail.com</td>
    </tr>
    <tr>
      <td>Mounir ER RYHANY --&gt; Mounir ERYHANY</td>
      <td>754564430 --&gt; 612334430</td>
      <td>mounir.erryhany@gmail.com</td>
    </tr>
    <tr>
      <td>Souad Dib</td>
      <td>676565430</td>
      <td>souad.dib@gmail.com</td>
    </tr>
  </tbody>
</table>