<!DOCTYPE html>
<html lang="en">

<head>
    <title>PFA</title>
    <meta charset="utf-8" />
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'personal/css/login.css' %}" type = "text/css"/>
    
</head>

<body>
{% block content %}
<div class="muck-uprr">
<div class="overlay">
<div class="header">

<div class="headerr">

      <p>Concours nationale commun </p>
      <h1> -Ecole nationale supérieure de l'informatique et d'analyse des systèmes- </h1>
     
    </div>


{% if messages %}
        {% for message in messages %}
          <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
        {% endfor %}
{% endif %}

	

<form method="POST">
<div class ="loginnn">

        {% csrf_token %}
        <!-- {% for field in form %}
        <label for="username">{{ field.label }}</label>
         
         {{ field }}
                <!- {{form.as_p}} ->

         {%endfor %} -->
         {{form.username.label}}
         {{form.username}}


         {{form.email.label}}
         {{form.email}}


         {{form.password1.label}}
         {{form.password1}}


         {{form.password2.label}}
         {{form.password2}} 
          <div class="loginn"> <button  class="btn sign-in" type="submit">Confirmer</button> </div>
          

    </form>

       Si vous avez déja un compte :  <a href="/login" target="blank"><strong>connectez vous </strong></a> </p> </div>

  
              


{% endblock %}
      
 </div>
</div>
</div>
</body>
