<!DOCTYPE html>
<html lang="en">

<head>
    <title>PFA</title>
    <meta charset="utf-8" />
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'personal/css/register.css' %}" type = "text/css"/>
    
</head>

<body>

{% block content %}

 {% if messages %}
        {% for message in messages %}
          <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
        {% endfor %}
    {% endif %}

	
	<div class="muck-up">
<div class="overlay">
    <form method="POST">
 
        {% csrf_token %}
        {{form.as_p}}





        <div class ="login">
         
          <button class="btn sign-in" type="submit" href="/fiches/upload/">Confirmer</button>   </div>

    </form>

              <div class = "header">
              <p>  Si vous avez déja un compte , connectez vous </p> </div>
               <a class="btn sign-in" href="/admin" >Se connecter</a> </div>


</div>
{% endblock %}


</body>
