<!DOCTYPE html>


<head>
	<title>PFA</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/upfichee.css' %}" type = "text/css"/>
	
</head>
<body>



<div class="muck-uprr">
<div class="overlay">
<div class="header">

{% block content %}
{% load crispy_forms_tags %}




 <div class="headerr">

      <p>Concours nationale commun </p>
      <h1> -Ecole nationale supérieure de l'informatique et d'analyse des systèmes- </h1>
     



<main>
  <div class="wrapper">
    <nav>
      <a href="#" class="button" >Acceuil</a>
      <a href="https://ensias-cnc2020.ma/webroot/upload/slider/attachement/2020-04-10-97879.pdf" class="button" >Listes de condidature</a>
      <a href="https://ensias-cnc2020.ma/webroot/upload/slider/attachement/2020-02-14-18461.pdf" class="button" >Notice CNC-2020</a>
      <a href="https://ensias-cnc2020.ma/webroot/upload/slider/attachement/2020-02-14-98104.pdf" class="button" >Guide d'inscription</a>
      <a href="/resultat" class="button" >Résultats</a>
      <a href="#" class="button" >Nouveautés</a>
      <a href="/logout" class="button" >Se déconnecter</a>
    </nav>
  </div>
</main>

   </div>



</div>

 <div class="login">
<form method="post" id="msform" enctype="multipart/form-data">




    {% csrf_token %}
    {{ form.nom.label }}
    {{form.nom}}

    {{ form.prenom.label }}
    {{form.prenom}}

    {{ form.CIN.label }}
    {{form.CIN}}

    {{ form.Lieu_de_naissance.label }}
    {{form.Lieu_de_naissance}}

    {{ form.Date_de_naissance.label }}
    {{form.Date_de_naissance}}

    {{ form.Adresse_physique.label }}
    {{form.Adresse_physique}}

    {{ form.Sexe.label }}
    {{form.Sexe}}

    {{ form.Nationalité.label }}
    {{form.Nationalité}}

    {{ form.pdf.label }}
    {{form.pdf}}


    




    
    <button type="submit" class="btn sign-in">Envoyer</button> 
    
    <p> Merci de remplir également les informations relatives a la <a href="/upcarte" >Carte nationale</a> et <a href="/uprecu"  >Reçu de paiement</a> </p>



  </form> </div> 





{% endblock %}



</div>
</div>
</body>

