<!DOCTYPE html>
<html lang="en">

<head>
	<title>PFA</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/home.css' %}" type = "text/css"/>
	
</head>





<body>

  


<div class="muck-up">
  <div class="overlay"></div>
  <div class="content">
    
    
    <div class="header">

       <p>Concours nationale commun </p>
      <h1> -Ecole nationale supérieure de l'informatique et d'analyse des systèmes- </h1>
     
    
    <div class="login">




      <h1> Votre fiche de condidature a été bien enregistrée </h1>
       <h1> Merci de remplir également les informations relatives à la  </h1> 
        <h1> <a href="/upcarte" >Carte nationale</a>   </h1>
         <h1> et  <a href="/uprecu"  >Reçu de paiement</a> </h1>
      
     
</div>
    </div>
  </div>
</div>



    

</body>


</html>