<!DOCTYPE html>


<head>
	<title>PFA</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/upfichee.css' %}" type = "text/css"/>
	
</head>
<body>



<div class="muck-uprr">
<div class="overlay">
<div class="header">

{% block content %}
{% load crispy_forms_tags %}




 <div class="headerr">

      <p>Concours nationale commun </p>
      <h1> -Ecole nationale supérieure de l'informatique et d'analyse des systèmes- </h1>
     






<main>
  <div class="wrapper">
    <nav>
      <a href="#" class="button" >Acceuil</a>
      <a href="#" class="button" >Listes de condidature</a>
      <a href="#" class="button" >Notice CNC-2020</a>
      <a href="#" class="button" >Guide d'inscription</a>
      <a href="#" class="button" >Résultats</a>
      <a href="#" class="button" >Nouveautés</a>
      <a href="/logout" class="button" >Se déconnecter</a>
    </nav>
  </div>
</main>





 
   </div>

  



</div>

 <div class="login">


<form method="post" id="msform" enctype="multipart/form-data">

 



    {% csrf_token %}
    {{ form.Nom.label }}
    {{form.Nom}}

    {{ form.Téléphone.label }}
    {{form.Téléphone}}

    {{ form.Email.label }}
    {{form.Email}}

    {{ form.pdf.label }}
    {{form.pdf}}


    




    
    <button type="submit" class="btn sign-in">Envoyer</button> 
   

<p> Merci de remplir également les informations relatives a la <a href="/upcarte" >Carte nationale</a> et <a href="/uprecu"  >Reçu de paiment</a> </p>


  </form> </div> 





{% endblock %}



</div>
</div>
</body>

